.board__button {
  height: 60px;
  width: 350px;
  min-width: 350px;
  margin: 25px auto;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #000000;
  background-color: #4462db;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.board__columns {
  display: flex;
  gap: 20px;
}
